.scroll-pane {
	-fx-background-color: transparent;
	-fx-border-color: purple;
	-fx-border-width: 4px;
}
.scroll-bar:horizontal .thumb {
	-fx-background-color: derive(black, 90%);
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 4em;
}
.button {
	-fx-background-color: linear-gradient(#0079b3, #00110e);
	-fx-background-radius: 20;
	-fx-text-fill: white;
    -fx-font: 20 "Century Gothic";
	-fx-border-insets: 15;
	-fx-border-color: #0000FF;
}
.button:hover {
	-fx-background-color: linear-gradient(#00110e, #0079b3);
	-fx-border-color: white;
}