

.scroll-pane {
   -fx-background-color:transparent;
    -fx-border-color:purple;
    -fx-border-width: 4px;
}

.scroll-bar:horizontal .thumb{
	-fx-background-color:derive(black,90%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 4em;	
}



    
 




